# Python
__pycache__/
*.py[oc]
*.egg-info
build/
dist/
wheels/

# Virtual environments
.venv
venv/
env/

# Environment variables
.env

# OS
.DS_Store

# IDE
.vscode/

# Testing
.coverage
.pytest_cache/
htmlcov/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
